<div class="search-container">
    <div class="search">
        <div class="input-data">
            <div class="seccionBusqueda">
                <p >País</p>
                <input type="text" [(ngModel)]="country" placeholder="Escribe el pais que deseas ver">
                <div class="menu-countinents">
                    <div class="header-filter">
                        <h4 class="title">Filtrar por continentes</h4>
                        <button class="clearFilter" (click)="clearFilter()">Limpiar</button>
                    </div>
                    <div class="btn-countinents">
                        <div class="card-continent" *ngFor="let continent of allcontinents; let index=index">
                            <button class="btnContinent allContinents " [id]="continent.name" [style]="imgText[index]" (click)="addcontinents(continent.name)" ></button>
                            <p>{{continent.name}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <button class="btn-search" (click)="buscar()"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path fill="#ffffff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6 .1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg> Buscar</button>
    </div>
</div>
<div class="seccionInfo-cards" id="contendor-info">
    <div class="contenedor">
        <div *ngFor="let country of countrys; let index= index">
            <app-card-country (click)="state()" (InfoCountryEvent)="saveInfoCountry($event)" [visualizarCierreInfo]="cierreInfo" [antiguaseleccion]="oldSelectionCountry" [NameCountry]="country.name" [NameContinent]="country.continent.name" [dateCountry]="country"  ></app-card-country>
        </div>
    </div>
    <app-detail-country *ngIf="close" (closeEvent)="closeinfo($event)" [dataCountry]="infoCountry" class="nameGrid"></app-detail-country>
</div>


